# Environment
.env
.venv/
venv/

# Data
data/raw/*.ndjson
data/processed/*.parquet

# MLflow
mlruns/
mlflow_data/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Testing & Linting
.pytest_cache/
.ruff_cache/
